.Button {
    width: 140px;
    margin: 10px;
    padding-top: 13px;
    font-size: 15px;
    background: rgb(247, 202, 243);
    border-radius: 5px;
    flex: none;
    display: inline-block;
    order: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
    outline: inherit;
}

.Button:hover {
    background-color:rgb(250, 123, 212);
    transition: all 0.8s;
} 